body,
html {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  width: 100%;
}

.first-section {
  // border: solid;
  height: 500px;
  position: relative;

  .main-image {
    height: 106%;
    position: absolute;
    bottom: 0%;
    left: 40%;
    width: 60%;
    z-index: 1;
  }

  .white {
    // border: solid;
    height: 100%;
    width: 15%;
  }

  .main-content {
    // border: solid;
    height: 100%;
    position: absolute;
    left: 15%;
    width: 25%;
    z-index: 2;
    img {
      // border: solid;
      margin-top: 5%;
      width: 35%;
    }

    h2 {
      // border: solid;
      color: rgb(35, 28, 71);
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 225%;
      width: 90%;
    }

    p {
      color: rgb(122, 122, 122);
      font-size: 14px;
      font-family: cursive;
      strong {
        color: black;
      }
    }

    button {
      background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
      color: rgba($color: #ffff, $alpha: 0.7);
      position: absolute;
      bottom: 2%;
      height: 45px;
      width: 110%;

      &:hover {
        background-image: linear-gradient(to right, rgb(120, 202, 82), rgb(46, 80, 90));
        cursor: pointer;
      }
    }
  }
}

.second-section {
  // border: solid;
  position: relative;
  text-align: center;
  padding: 3% 0%;

  h2 {
    font-family: "Playfair Display", serif;
    font-size: xx-large;
    color: rgb(35, 28, 71);
    margin-bottom: 0%;
  }

  h6 {
    font-family: cursive;
    font-size: 14px;
    color: rgb(149, 149, 149);
    margin-top: 1%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    width: 100%;

    .from-top {
      transform: translateY(-50%);
    }

    .from-bottom {
      transform: translateY(50%);
    }

    .from-top,
    .from-bottom {
      transition: opacity 400ms ease-in, transform 750ms ease-in;
      opacity: 0;
    }

    .from-top.appear,
    .from-bottom.appear {
      transform: translateX(0);
      opacity: 1;
    }

    .first-card {
      // border: solid;
      width: 20%;
      img {
        width: 40%;
        height: 15%;
      }
      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
      }
      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }

    .second-card {
      // border: solid;
      margin: 0% 5%;
      width: 20%;
      img {
        width: 40%;
        height: 15%;
      }
      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
      }
      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }

    .third-card {
      // border: solid;
      width: 20%;
      img {
        width: 40%;
        height: 15%;
      }
      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
      }
      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }
  }
}

.third-section {
  align-items: center;
  background-color: #00c3ff21;
  // border: solid;
  display: flex;
  flex-direction: column;
  height: 1500px;
  margin-bottom: 0%;
  overflow-x: hidden;
  padding: 5% 0%;

  .first-card {
    // border: solid #00c3ff3d;
    display: flex;
    flex-direction: row;
    height: 25%;
    margin-bottom: 2%;
    width: 70%;

    span {
      background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
      border-radius: 20px 20px 20px 340px;
      width: 100%;
    }

    img {
      width: 100%;
      border-radius: 20px 20px 20px 340px;
      height: 100%;
      opacity: 0.3;
    }

    div {
      margin-left: 1%;

      h2 {
        color: rgb(122, 122, 122);
        font-family: "Playfair Display", serif;
        margin-bottom: 0%;
      }
      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
        font-size: x-large;
        margin-top: 0%;
      }
      hr {
        width: 50%;
        margin-left: 0%;
      }
      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }
  }

  .second-card {
    // border: solid #00c3ff3d;
    display: flex;
    flex-direction: row-reverse;
    height: 25%;
    margin-bottom: 2%;
    width: 70%;

    span {
      background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
      border-radius: 20px 20px 340px 20px;
      width: 100%;
    }

    img {
      width: 100%;
      border-radius: 20px 20px 340px 20px;
      height: 100%;
      opacity: 0.3;
    }

    div {
      margin-left: 1%;

      h2 {
        color: rgb(122, 122, 122);
        font-family: "Playfair Display", serif;
        margin-bottom: 0%;
      }

      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
        font-size: x-large;
        margin-top: 0%;
      }

      hr {
        width: 50%;
        margin-left: 0%;
      }

      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }
  }

  .third-card {
    // border: solid #00c3ff3d;
    display: flex;
    flex-direction: row;
    height: 25%;
    margin-bottom: 2%;
    width: 70%;

    span {
      background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
      border-radius: 20px 20px 20px 340px;
      width: 100%;
    }

    img {
      width: 100%;
      border-radius: 20px 20px 20px 340px;
      height: 100%;
      opacity: 0.3;
    }

    div {
      margin-left: 1%;

      h2 {
        color: rgb(122, 122, 122);
        font-family: "Playfair Display", serif;
        margin-bottom: 0%;
      }

      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
        font-size: x-large;
        margin-top: 0%;
      }

      hr {
        width: 50%;
        margin-left: 0%;
      }

      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }
  }

  .fourth-card {
    // border: solid #00c3ff3d;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    height: 25%;

    span {
      background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
      border-radius: 20px 20px 340px 20px;
      width: 52%;
    }

    img {
      width: 100%;
      border-radius: 20px 20px 340px 20px;
      height: 100%;
      opacity: 0.3;
    }

    div {
      margin-left: 1%;

      h2 {
        color: rgb(122, 122, 122);
        font-family: "Playfair Display", serif;
        margin-bottom: 0%;
      }

      h3 {
        color: rgb(35, 28, 71);
        font-family: "Playfair Display", serif;
        font-size: x-large;
        margin-top: 0%;
      }

      hr {
        width: 50%;
        margin-left: 0%;
      }

      p {
        font-family: cursive;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }
    }
  }

  .from-left {
    transform: translateX(-50%);
  }

  .from-right {
    transform: translateX(50%);
  }

  .from-left,
  .from-right {
    transition: opacity 400ms ease-in, transform 750ms ease-in;
    opacity: 0;
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    opacity: 1;
  }
}

.fourth-section{
  background-color: black;
  border: solid black;
  color: white;
  height: 230px;

  h2{
    // border: solid;
    font-size: 2.3em;
    margin-bottom: 3%;
    margin-left: 5%;
  }

  p{
    font-size: 1.3em;
    margin-left: 5%;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
