.zero-section-form {
  // background-image: url('../images/homepage/word.jpg');
  // border: solid;
  // height: 100%;
  // position: fixed;
  // width: 100%;
  // z-index: -1;

  div {
    background-color: #000000;
    height: 100%;
    opacity: 0.8;
    width: 100%;
  }
}

.first-section-form {
  // border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 650px;
  margin-top: 60px;
  padding: 5% 1%;

  .model-form {
    -webkit-box-shadow: 0 0.125rem 0.8rem #9acd32 !important;
    box-shadow: 0 0.125rem 0.8rem #9acd32 !important;
    // border: solid;
    border-radius: 7px;
    overflow: auto;
    width: 40%;

    #addForm {
      // border: solid;
      display: flex;
      flex-direction: column;
      align-items: center;

      .group {
        // border: solid;
        position: relative;
        margin-top: 2rem;
        width: 90%;

        input {
          font-size: 18px;
          padding: 20px 10px 5px 5px;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid #757575;
          background-color: rgba(0, 0, 0, 0);
          color: #ecfad5;

          &:focus {
            outline: none;
          }
          &::content {
            background-color: green;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
            -webkit-transition-delay: 9999s;
          }
        }

        /* LABEL ======================================= */
        label {
          color: #fff;
          font-size: 1.5rem;
          font-family: "Inter", sans-serif;
          text-transform: uppercase;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input:focus ~ label,
        input:valid ~ label {
          top: -10px;
          font-size: 1.2rem;
          color: #9acd32;
        }

        /* BOTTOM BARS ================================= */
        .bar {
          position: relative;
          display: block;
          width: 100%;

          &:before,
          &:after {
            content: "";
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #9acd32;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
          }

          &:before {
            left: 50%;
          }

          &:after {
            right: 50%;
          }
        }

        /* active state */
        input:focus ~ .bar:before,
        input:focus ~ .bar:after {
          width: 50%;
        }

        /* HIGHLIGHTER ================================== */
        .highlight {
          position: absolute;
          height: 60%;
          width: 100px;
          top: 25%;
          left: 0;
          pointer-events: none;
          opacity: 0.5;
        }

        /* active state */
        input:focus ~ .highlight {
          -webkit-animation: inputHighlighter 0.3s ease;
          -moz-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }

        /* ANIMATIONS ================ */
        @-webkit-keyframes inputHighlighter {
          from {
            background: #9acd32;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
        @-moz-keyframes inputHighlighter {
          from {
            background: #9acd32;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
        @keyframes inputHighlighter {
          from {
            background: #9acd32;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
      }

      .newField {
        margin-right: 30%;
        margin-top: 6rem;
        width: 60%;
      }

      .newFieldButton {
        border: solid;
        background: #ffffff;
        color: yellowgreen;
        font-size: 1.2em;
        margin-left: 65%;
        margin-top: -7%;
        height: 2em;
        width: 25%;

        &:hover {
          background: #ffffff;
        }
      }

      button {
        background: #9acd32;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        color: white;
        font-size: 2rem;
        font-weight: 900;
        height: 2em;
        margin-top: 3rem;
        text-transform: uppercase;
        width: 50%;

        &:hover {
          background: #75a318;
          cursor: pointer;
          transform: scale(1.1);
          transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.3, 1.55);
        }
      }
    }
  }

  .info {
    -webkit-box-shadow: 0 0.125rem 0.8rem #9acd32 !important;
    box-shadow: 0 0.125rem 0.8rem #9acd32 !important;
    // border: solid;
    border-radius: 7px;
    width: 40%;

    h3 {
      color: #fff;
      font-family: "Rubik", sans-serif;
      font-size: 3rem;
      padding: 5%;
      text-align: center;
    }

    p {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      color: #ffffff;
      line-height: 2rem;
      padding: 0% 5%;

      span {
        color: yellowgreen;
        font-weight: bold;
      }
    }
  }
}

.items {
  ul {
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      max-height: 100%;
      width: 100%;
    }

    h2,
    p,
    button {
      font-family: "Roboto", sans-serif;
    }

    .container-cards {
      // border: solid;
      height: 500px;
      margin: 80px auto;
      position: relative;
      width: 23%;
    }

    .container-cards-surface {
      border-radius: 5px;
      position: relative;
    }

    .container-cards-front {
      transform: rotateY(180deg);
    }

    .container-cards-front-image {
      height: 200px;
      width: 100%;
      clip-path: ellipse(200px 150px at 50% 20%);
    }

    .container-cards-front-image img {
      border-radius: 5px;
      object-fit: cover;
      object-position: 50% 60%;
    }

    .container-cards-front-content {
      // border: solid;
      height: 300px;
      margin-top: -2%;
      padding: 2% 2% 0% 2%;
    }
    .container-cards-front-content h2,
    .container-cards-front-content p {
      color: #424242;
      padding: 5px;
    }

    .container-cards-front-content p {
      -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.3) !important;
      box-shadow: 0 0.125rem 0.8rem 0rem rgba(0, 0, 0, 0.3) !important;

      // border: solid;
      font-size: 1rem;
      height: 70%;
      margin-top: 0.5rem;
      overflow: hidden;
    }

    .container-cards-front-label {
      color: #ffffff;
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 10px 30px;
      background: #c62828;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 13px;
      -webkit-box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.32);
      box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.32);
    }

    .container-cards-front-button {
      // border: solid;
      text-align: center;
      margin-top: -15%;
    }
    .container-cards-front-button button {
      border: none;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      margin: 0% 5%;
      padding: 10px 5px;
      -webkit-transition: -webkit-filter 1s ease-in;
      transition: filter 1s ease-in;
      width: 100px;
    }
    .flip-btn {
      background: #9acd32;

      &:hover {
        background: #8cc222;
      }
    }

    button:hover {
      background: #ff0000;
    }

    .container-cards-surface {
      height: 500px;
      background: #ffffff;
      width: 100%;
      height: 100%;
    }

    .container-cards-surface {
      backface-visibility: hidden;
      position: absolute;
      transition: transform 1s;
      transform-style: preserve-3d;
    }

    .container-cards-back {
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
    }
    .container-cards-back .container-cards-back-content {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .container-cards-back h2 {
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 5px;
      font-size: 60px;
      font-weight: 700;
      transform: rotate(-45deg);
    }

    .container-cards:hover .container-cards-front {
      transform: rotateY(0);
    }
    .container-cards:hover .container-cards-back {
      transform: rotateY(180deg);
    }
  }
}

.item-details {
  .item {
    // border: solid;
    color: #4682b4;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 80%;
    text-align: center;
    text-shadow: 2px 2px #000;
    width: 20%;

    &:hover {
      cursor: pointer;
      color: #000;
      text-shadow: 2px 2px #4682b4;
    }
  }

  li {
    // border: solid;
    color: #9acd32;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin: 2% 0%;
    // letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;

    span {
      // border: solid;
      color: #000000;
      font-size: 1.7rem;
      font-weight: normal;
      text-transform: none;
      text-shadow: none;
    }

    div.des {
      border-bottom: 1px solid;
      color: #000000;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 2rem;
      padding: 2% 5%;
      text-transform: none;
      text-shadow: none;
    }
  }

  .group {
    // border: solid;
    position: relative;
    margin-top: 2rem;
    width: 90%;

    input {
      font-size: 18px;
      padding: 20px 10px 5px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #757575;
      background-color: rgba(0, 0, 0, 0);
      color: #000;

      &:focus {
        outline: none;
      }
      &::content {
        background-color: green;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
        -webkit-transition-delay: 9999s;
      }
    }

    /* LABEL ======================================= */
    label {
      color: #fff;
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label,
    input:valid ~ label {
      top: -10px;
      font-size: 1.2rem;
      color: #4682b4;
    }

    /* BOTTOM BARS ================================= */
    .bar {
      position: relative;
      display: block;
      width: 100%;

      &:before,
      &:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4682b4;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from {
        background: #4682b4;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: #4682b4;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes inputHighlighter {
      from {
        background: #4682b4;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }

  .newField {
    margin-right: 30%;
    margin-top: 6rem;
    width: 60%;
  }

  .newFieldButton {
    border: solid;
    background: #ffffff;
    color: #4682b4;
    font-size: 1.2em;
    margin-left: 65%;
    margin-top: -7%;
    height: 2em;
    width: 25%;

    &:hover {
      background: #ffffff;
    }
  }

  button {
    background: #4682b4;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2rem;
    font-weight: 900;
    height: 2em;
    margin-top: 3rem;
    text-transform: uppercase;
    width: 50%;

    &:hover {
      background: #4076a3;
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.3, 1.55);
    }
  }

}
// font-family: "Abril Fatface", cursive;
// font-family: "Acme", sans-serif;
// font-family: "Amatic SC", cursive;
// font-family: "Dancing Script", cursive;
// font-family: "Indie Flower", cursive;
// font-family: "Inter", sans-serif;
// font-family: "Lobster", cursive;
// font-family: "Modak", cursive;
// font-family: "Pacifico", cursive;
// font-family: "Patrick Hand", cursive;
// font-family: "Playfair Display", serif;
// font-family: "Righteous", cursive;
// font-family: "Yellowtail", cursive;
// font-family: "ZCOOL XiaoWei", serif;
// font-family: "Parisienne", cursive;
