.site-logo {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  color: yellowgreen;
  text-decoration: none;
  float: left;
  margin-left: 3%;
  margin-top: 0.5%;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
  height: 60px;
}

.nav__list {
  list-style: none;
  margin-left: 5%;
  margin-top: 1%;
  padding: 0;
  display: flex;
  float: left;
}

.nav__list-account {
  list-style: none;
  margin-left: 20%;
  margin-top: 0.5%;
  padding: 0;
  display: flex;
  float: left;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    color: #9acd32;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &--btn {
    border: 1.5px solid currentColor;
    border-radius: 1em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em;

    &:hover {
      background: var(--text);
      color: var(--text-inverse);
      border-color: var(--text);
    }

    &::after {
      display: none;
    }

    &--highlight {
      background: #9acd32;
      border-color: #9acd32;
      color: #333;

      &:hover {
        background: var(--text);
        border-color: var(--text);
      }
    }
  }
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #ecfad5;

  box-shadow: 0 3px 20px rgba(black, 0.2);
}
