header {
  background-color: rgba(220, 230, 235, 0);
  // border: solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  z-index: 99;

  h1 {
    // border: solid;
    color: yellowgreen;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2.7em;
    font-style: italic;
    position: relative;
    top: -30%;
    text-align: center;
    width: 20%;
  }

  .main {
    // border: solid;
    font-size: 1.3em;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 40%;

    a {
      text-decoration: none;
      color: white;

      li {
        // border: solid;
        display: inline;
        margin: 0% 1%;
        padding: 12px 13px;

        &:hover {
          border-bottom: solid 1px;
          color: rgb(139, 200, 218);
        }
      }
    }
  }

  .account {
    // border: solid;
    font-size: 1.3em;
    position: absolute;
    top: 5%;
    left: 65%;
    text-align: center;
    width: 30%;

    a {
      text-decoration: none;
      color: white;

      li {
        border: solid 1px;
        border-radius: 2em;
        display: inline;
        margin: 0% 5%;
        padding: 12px 13px;

        &:hover {
          background-color: rgb(102, 150, 165);
          color: black;
        }
      }
    }
    a:nth-of-type(2) {
      color: white;

      li {
        background-color: rgb(46, 80, 90);

        &:hover {
          background-color: rgb(102, 150, 165);
          color: black;
        }
      }
    }
  }
}

.nav-scrolled {
  color: #333;
  --text-inverse: #502fbe;
  background-image: linear-gradient(to right, rgb(46, 80, 90), rgb(120, 202, 82));
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
