.zero-section-model {
    height: 60px;
}

.auth-box {
    -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.5) !important;

    // border: solid;
    background: white;
    display: flex;
    justify-content: space-between;
    // margin-left: 20%;
    margin: 50px 20%;
    min-height: 480px;
    padding: 0px;
    width: 60%;

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: "XMYekanRegular";
        font-weight: normal;
        font-style: normal;
    }

    .shadow {
        -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
    }

    .login,
    .register {
        // border: solid;
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }

    .item-list {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .item {
        border-radius: 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 2px;
        width: 70%;

        .oauth {
            margin: 0 2%;
        }
    }

    .body {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 290px;
        height: 40px;
        border: none;
        background: #e9e9e9;
        border-radius: 4px;
        padding: 0px 5px;
    }

    button[type="submit"] {
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        height: 40px;
        margin-top: 35px;
        width: 290px;
    }
    button {
        width: 290px;
        height: 40px;
        border: none;
        margin-top: 35px;
        color: white;
        cursor: pointer;
    }

    .forget-password {
        margin-top: 5px;
        font-size: 12px;
    }

    .pink {
        background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
        background: linear-gradient(to right, #ffc62b, #ccff41);
        color: #000;
    }

    .blue {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        color: #fff;
    }

    .pink-color {
        color: #f093fb;
    }

    .blue-color {
        color: #667eea;
    }

    .d-flex {
        display: flex;
    }
    .flex-column {
        flex-direction: column;
    }
    label {
        margin-bottom: 0.5rem;
    }

    .icon {
        // border: solid;
        margin-left: -70%;
        margin-bottom: 1%;
        width: 5%;
    }
}

.box-color {
    background-image: url("../images/green.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 50%;
    min-height: 480px;
    transition: left 1s ease-out;
    width: 30%;
    z-index: 99;

    .title,
    .title2 {
        // border: solid;
        font-size: 1.5rem;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        transition: display 1s;
    }

    button {
        width: 290px;
        height: 40px;
        border: none;
        margin-top: 35px;
        color: white;
        cursor: pointer;
    }

    .login-btn,
    .title2 {
        display: none;
    }

    .register-btn,
    .login-btn {
        background: none;
        border: 1px solid white;
        border-radius: 5px;
        // color: yellowgreen;
        font-size: 1.5rem;
    }

    .pink {
        background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
        background: linear-gradient(to right, #ffc62b, #ccff41);
        color: #000;
    }

    .blue {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
}
